<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals/<%= animal._id %>?_method=PUT"" method="post">
          <fieldset>
              <legend>Edit Animal</legend>
            <label>
              Species:<input
                type="text"
                name="species"
                placeholder="enter animal species"
              />
            </label>
            <label>
              Location:<input
                type="text"
                name="location"
                placeholder="enter animal location"
              />
            </label>
            <label>
              Extinct:<input type="checkbox" name="extinct" />
            </label>
            <label>
                Life Expectancy:<input type="number" name="lifeExpectancy" />
              </label>
          </fieldset>
          <input type="submit" value="Edit Animal" />
        </form>
      </div>
    </main>
  </body>
</html>